<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>London Lashes and Locks</title>
    <link rel="stylesheet"type="text/css" href="css/style.css" />
</head>
<body>
    <header>
        <div id="Banner">
            <img id="Header" src="img/Banner.jpg">
            <img id="logo" src="img/London-lashes-locks.jpg">
            <h2 id="company">London Lashes and Locks</h2>
            <nav id="menu">
                <ul>
                    <li><a href="index.html" class="current">Home</a></li>
                    <li><a href="#">Our Services</a></li>
                    <li><a href="#">Bookings</a></li>
                
                
                
                
                
                </ul>
            </nav>
        </div>
    </header>
    
    
    
    
    
    
    
    
    
    
    
</body>
</html>